*.iml
.gradle
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild

junit-report.xml
lint-results.*ml
lint-results_files
monkey.txt
*~
*.iws
atlassian-ide-plugin.xml
target
out
.idea
apk
.navigation
local.properties
